.b-gate {
  min-height: 100vh;
  background-color: #dff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__content{
    margin: 50px 0;
  }
  &__top{
    margin-bottom: 75px;
  }
  &__picker{
    padding-bottom: 40px;
  }
  &__imgs{
    height: 100%;
  }
  &__img-wrap{
    width: 100%;
    height: 0px;
    padding: 0;
    &.active{
      height: 100%;
      padding: 40px 0;

    }
  }
  &__img{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__picker-item{
    height: 65px;
    background-color: #eaeaea;
    border: 1px solid #b8b8b8;
    margin-top: 25px;
    cursor: pointer;
  }
  &__calculate{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
  }
  &__calculate-text{
    margin-bottom: 40px;
  }
}
